*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img{
    max-width: 100%;
}

html{
    background-color: rgba(250, 235, 215, 0.25);
}

@font-face {
    font-family: Alegreya_SC_Light;
    src: url("../fonts/Alegreya_Sans_SC/AlegreyaSansSC-Light.ttf");
}

@font-face {
    font-family: Nixie_One;
    src: url("../fonts/Nixie_One/NixieOne-Regular.ttf");
}

@font-face {
    font-family: Alegreya_Black;
    src: url("../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf");
}

p, a{
    font-family: Helvetica, Alegreya_SC_Light, Arial ;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    
}
.hamburger div {
    background-color: white;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    padding-top: 2px;
}

.hamburger div:nth-child(1) {
    top: 0;
}

.hamburger div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger div:nth-child(3) {
    bottom: 0;
}

header{
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
   
}

header h1{ 
    margin-top: 1%;
    color: white;
    font-family: Alegreya_SC_Light, Arial, Helvetica;
    font-size: 2rem;
}

header h1:hover{
    text-decoration: underline;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 3%;
}

.slim{
    font-family: Nixie_One, Arial, Helvetica;
    text-align: center;
    margin-top: 22%;
    font-size: 3rem;
    font-weight: 100;
    
}

.text_header{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-right:3%;
}

.text_header h3{
    color: #ffffffa7;
    font-family: Alegreya_SC_Light, Arial, Helvetica;
}

/* * Section "Our Latest Works"  */

main .Our_works article{
    display: flex;
    justify-content: space-between;
    margin: 3% 10%;
    align-items: center;
}

main .Our_works article div h2{
    font-family: Alegreya_Black, Arial, Helvetica;
    color: #3A4F52;
    margin-bottom: 3%;
    font-size: 2rem;
}

main .Our_works article div p{
    font-family: Helvetica, Alegreya_SC_Light, Arial ;
    color: #6A6A6A;
    font-size: 0.8rem;
}

.Our_works .btn{
    border: 1px solid rgba(0, 0, 0, 0.574);
    padding: 10px 10px;
    margin-left: auto;
    
}
.Our_works .btn:hover {
    background-color: #3A4F52;
    color: white;
}

.Our_works .btn:hover a {
    color: white;
}

a{
    text-decoration: none;
    color: #3A4F52;
}

 .container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "img img2 img3"
      "img4 img5 img6";
      margin: 0 14% 4%; 
      
  }

  .img_link { grid-area: img; }
  .img2_link { grid-area: img2; }
  .img3_link { grid-area: img3; }
  .img4_link { grid-area: img4; }
  .img5_link { grid-area: img5; }
  .img6_link { grid-area: img6; }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(10, 107, 91); 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    
}

  .container > div {
    position: relative; 
    overflow: hidden; 
    
}

.Our_works .container > div:hover .overlay {
    opacity: 0.5;
}

.Our_works .container > div:hover img {
    transform: scale(1.3);
    transform-origin: center;
}

.Our_works .container > div:hover img {
    transform: scale(1.3); 
}

.Our_works .container img {
    max-width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    
}

.overlay .btn {
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border: 2px solid white; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
  
.overlay .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay .btn:hover{
    background-color: white;
    color: grey;
    border-color: white;
}

/* * Section "Our Services"  */

  .Our_services{
    background-image: url("../img/services.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    background-attachment: fixed; 
    background-position: center;
    padding-top: 1%;
    margin-bottom: 3%;
  }

  .Our_services article {

    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.197);
    margin: 5% 5% ;
    height: 370px;
  }

  .Our_services article .wrapper_services{
    display: flex;
    flex-direction: row;
  }

  .Our_services article .wrapper_services div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 2%;
}

  .Our_services article div img{
    width: 10%;
  
  }

  .Our_services h2{

    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 1%;
    font-weight: 800;
    font-family: Alegreya_SC_Light, Arial, Helvetica;
  }

  .Our_services p{
    text-align: center;
    color: white;
    font-size: 0.8rem;
    margin-top: 1%;
    margin-bottom: 3%;
    
  }

  /*  *Section "From the Blog"  */

  .From_blog article {
    margin: 3% 8%;
}

.wrapper_from_the_blog {
    display: flex;
    justify-content: space-around;
    align-items:  center;
    margin: 0 4%;
}

.wrapper_text {
    
    margin-bottom: 3%;
    
}

.wrapper_text h2 {
    font-family: Alegreya_Black, Arial, Helvetica;
    color: #3A4F52;
    margin-bottom: 3%;
    font-size: 2rem;
}

.wrapper_text p {
    font-family: Helvetica, Alegreya_SC_Light, Arial;
    color: #6A6A6A;
    font-size: 0.8rem;
 
}

.From_blog .btn {
    margin-bottom: 2%;
    border: 1px solid rgba(0, 0, 0, 0.574);
    padding: 10px 10px;
    margin-left: auto;
   
}


.From_blog .btn:hover {
    background-color: #3A4F52;
    color: white;
}

.From_blog .btn:hover a {
    color: white;
}


  .From_blog .container {  
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          "read_more_1 read_more_2 read_more_3";
          margin-right: 6%;
          margin-left: 7%;
          padding: 2%;
      }
      
      .read_more_1 { grid-area: read_more_1; }
      .read_more_2 { grid-area: read_more_2; }
      .read_more_3 { grid-area: read_more_3; }
      
  
.From_blog .container h2{
    font-family: Alegreya_Black, Arial, Helvetica;
    color: #3A4F52;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 2rem;
}

.From_blog .container span{
    font-style: italic;
    color: #6A6A6A;
    margin-bottom: 3%;
}

.From_blog .container p{
    color: #6A6A6A;
    font-size: 0.8rem;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-right:2% ;
}

.From_blog .container a{
    color: #4DA7CA;
    font-weight: 200;
    font-size: 0.8rem;
}
.From_blog .container a:hover{
    text-decoration: underline;
}

/* * <!-- *Section "Get a free quote" (Text inner button)--> */

.Get_free{
    background-image: url("../img/parallax.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40vh;
    background-attachment: fixed; 
    padding-top: 1%;
    margin-bottom: 3%;
  }

  .Get_free article {

    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.197);
    margin: 3% 10% 0 ;
    height: 260px;
    height: auto;
    justify-content: center; 
    align-items: center; 
    padding: 1% 4%;
  }

  .Get_free article h1{

    text-align: center;
    color: white;
    text-align: justify;
    font-size: 2rem;
    margin-top: 1%;
    font-weight: 800;
    font-family: Alegreya_SC_Light, Arial, Helvetica;
  }

  .Get_free .btn{
    text-align: center;
    border: 1px solid white;
    margin-top: 50px; 
    padding: 10px 10px;
  }

  .Get_free .btn a{
    color: white;
    display: inline-block; 
    padding: 3px 13px; 
    font-weight: 200;
  }

  .Get_free .btn:hover{
    background-color:white;
    color: grey;
}

.Get_free .btn:hover a {
    color: grey;
}

  /* * <!-- * Section Testimonials --> */

  .testimonials h1, p{
    text-align: center;
  }

  .testimonials h1{
  font-weight: 1000;
  font-family: Alegreya_SC_Light, Arial, Helvetica;
  font-size: 2rem;
  margin-bottom: 1%;
  }

  .testimonials  p{
    color: #6A6A6A;
    font-size: 0.8rem;
  }

  .testimonials article{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .testimonials article div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 3%;
   
  }

  .testimonials article div img{
    width: 35%;
    margin-bottom: 2%;
  }

  .testimonials article div p,h5{
    color: #6A6A6A;
    margin-top: 5px;
  }

  .testimonials article div p{
    margin-bottom: 3%;
    width: 75%;
  }


  /* * <!-- * Section Contact US --> */

  .Contact_us{
    background-image: url("../img/contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-attachment: fixed; 
    display: flex;
    justify-content: center; 
    padding-top: 4%;
  }

  .Contact_us article {

    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.197);
    margin: 0% 2% 5%;
    height: auto;
    width: 1000px;
  }

  .Contact_us h2{
    text-align: center;
    color: white;
    font-weight: 1000;
  font-family: Alegreya_SC_Light, Arial, Helvetica;
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 1%;
  }

  .Contact_us p{
    color: white;
    margin-bottom: 1%;
  }

  .form_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  input::placeholder,
  textarea::placeholder {
      color: white;
      padding: 2%;
  }

   #name, #email,#message,#submit{
    margin: 4px 0;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent ;
    border: 1px solid white;
   }

   #message{
    height: 40px;
   }

   #submit{
    width: 70px;
    height: 30px;
    border-radius: 0px;
    color: white;
   }




  /* !Footer */

  footer div{
    height: 100px;
    width: 100%;
    background-color:#2B3E51;
  }

  footer div p{
    color: white;
    font-size: 0.8rem;
    text-align: left;
    padding: 3% 10% 0 0;
    margin-left: 5%;
  }